body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#2b2828#e93333;
}

header {
    background-color:hsl(189, 69%, 22%);
    color: hsl(0, 39%, 58%);
    padding: 1em 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 1em;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2em;
    margin: 2em 0;
    background-color: #ed0e0e0b;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    margin-bottom: 1em;
}

.project {
    margin-bottom: 2em;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
}
